/* General Styles  */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 32px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;

    .logo { /*  .navbar .logo */
        font-size: 24px;
        font-weight: bold;
        color: #ff7e5f;
    }

    .nav-links { /*  .navbar .nav-links */
        list-style: none;
        padding: 0;

        li { /* .navbar .nav-links li */
            display: inline-block;
            margin: 0 10px;

            a { /*  .navbar .nav-links a */
                text-decoration: none;
                font-weight: bold;

                &:hover { /*  .navbar .nav-links a:hover */
                    color: #ff7e5f;
                }
            }
        }
    }
}

/* Primary Button  */
.primary-btn {
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    
    font-size: 18px;
    font-weight: bold;
    color: white;

    text-decoration: none;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);

    &:hover {
        box-shadow: 0px 5px 15px rgba(255, 126, 95, 0.4);
    }
}

/* Main Section */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px;

    .content { /* .main .content */
        width: 50%;
    }

    h1 { /*  .main h1 */
        font-size: 48px;
        color: #ff7e5f;
    }

    p { /*  .main p */
        font-size: 18px;
    }

    img { /* .main img */
        width: 40%;
    }
}

/* Features & Plans Sections  */
.features {
    background: #f3f3f3;
}
.center-section {
    text-align: center;
    padding: 50px 10px;
}
.card-list {
    display: flex;
    justify-content: space-between;

    .card { /* .card-list .card */
        background: white;
        padding: 20px;
        width: 27%;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
}


/* Footer  */
.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}

/* Responsive  */
@media screen and (max-width: 992px) {
    .card-list {
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .card { 
            width: 80%;
        }
    }
}